<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SmartBin.AI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link href="{{ url_for('static', filename='aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

</head>

<body>

  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html"><span>SmartBin.AI</span></a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href='analytics'>Analytics</a></li>
          <li><a class="nav-link scrollto" href='recommendation'>Recommendation</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Upgrade your dustbin to <span>Smartbin.AI</span></h1>
            <h2>We are a team of engineers trying to change the way you see dustbins</h2>
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{{ url_for('static', filename='img/hero-img.png') }}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section>

  <main id="main">


    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch"
            data-aos="fade-right">
          </div>

          <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
              <img src="{{ url_for('static', filename='img/about.png') }}" class="img-fluid" alt="">
            </div>
            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left"></div>
            <h3>Live monitoring of Waste levels in Dustbins</h3>
            <p>We aim to save the time and fuel of Municipal corporation by providing them details of ony those bins
              that have filled bins</p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-map"></i></div>
              <h4 class="title"><a href="">Locations of bins that have filled bins</a></h4>
              <p class="description">We shall notify the municipal corporation about the bins that have filled bins to
                be picked</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-car"></i></div>
              <h4 class="title"><a href="">Saves Fuel</a></h4>
              <p class="description">Knowing what houses actually neeed a bin pickup saves time and fuel of the
                corporation</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section id="details" class="details">{{ url_for('static', filename='') }}
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{{ url_for('static', filename='img/details-1.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Live Data Analytics</h3>
            <p class="fst-italic">
              Based on data we recieve from sensors in the dustbins:
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Visualizations will be shown</li>
              <li><i class="bi bi-check"></i> Daily waste generation stats will be displayed</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{{ url_for('static', filename='img/details-2.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Waste Disposal Recommendation System</h3>
            <p class="fst-italic">
              Based on dataset collected from web on disposal of wet waste:
            </p>
            <p>
              We shall recommend the user and the municipality about the waste disposal methods to be applied on the bin
              based on pH levels,weight of wet waste
            </p>
          </div>
        </div>

      </div>
    </section>
  </main>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <script src="{{ url_for('static', filename='purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>