<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SmartBin.AI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">
    <link href="{{ url_for('static', filename='aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='analytics.css') }}" rel="stylesheet">
</head>

<body style="background-color: rgb(15,21,163);">


  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html" style="color: rgb(255, 255, 255);"><span>SmartBin.AI</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href='analytics'>Analytics</a></li>
          <li><a class="nav-link scrollto" href='recommendation'>Recommendation</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <section class="text-gray-600 body-font" style="margin: 0%;">
    <div class="container px-5 py-24 mx-auto">
      <center>
        <h2 style="color: rgb(255, 255, 255);">Disposal Recommendations</h2>
      </center>
      <center>
        <h3 style="color: rgb(0, 234, 255);"><strong>Society 1</strong></h3>
      </center>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-gray-200 p-6 rounded-lg">

            <h2 class="text-lg text-gray-900 font-medium title-font mb-2" style="color: rgb(255, 255, 255);">
              <strong>Flat No. 5</strong></h2>
            <p class="leading-relaxed text-base" style="color: rgb(255, 255, 255);">pH value: 6.8<br>Weight: 4kg<br>Bin
              Status:Almost Full
            <p style="color: rgb(255, 255, 255);">Recommendation: To be treated with base to neutralize</p>
            </p>
          </div>
        </div>
        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-gray-200 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-2" style="color: rgb(255, 255, 255);">
              <strong>Flat No. 6</strong></h2>
            <p class="leading-relaxed text-base" style="color: rgb(255, 255, 255);">pH value: 7.8<br>Weight: 5kg<br>Bin
              Status:Full
            <p style="color: rgb(255, 255, 255);">Recommendation: To be treated with mild acid to neutralize</p>
            </p>
          </div>
        </div>
        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-gray-200 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-2" style="color: rgb(255, 255, 255);">
              <strong>Flat No. 7</strong></h2>
            <p class="leading-relaxed text-base" style="color: rgb(255, 255, 255);">pH value: 7<br>Weight: 3.5kg<br>Bin
              Status:Almost Full
            <p style="color: rgb(255, 255, 255);">Recommendation: Ready to dispose</p>
            </p>
          </div>
        </div>
        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-gray-200 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-2" style="color: rgb(255, 255, 255);">
              <strong>Flat No. 10</strong></h2>
            <p class="leading-relaxed text-base" style="color: rgb(255, 255, 255);">pH value: 9.8<br>Weight:
              4.5kg<br>Bin Status:Full
            <p style="color: rgb(255, 255, 255);">Recommendation: To be treated with strong acid to neutralize</p>
            </p>
          </div>
        </div>
        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-gray-200 p-6 rounded-lg">

            <h2 class="text-lg text-gray-900 font-medium title-font mb-2" style="color: rgb(255, 255, 255);">
              <strong>Flat No. 12</strong></h2>
            <p class="leading-relaxed text-base" style="color: rgb(255, 255, 255);">pH value: 2.8<br>Weight: 4kg<br>Bin
              Status:Almost Full
            <p style="color: rgb(255, 255, 255);">Recommendation: To be treated with strong base to neutralize</p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container px-5 py-0 mx-auto">
      <center>
        <h3 style="color: rgb(0, 234, 255);"><strong>Society 2</strong></h3>
      </center>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-gray-200 p-6 rounded-lg">

            <h2 class="text-lg text-gray-900 font-medium title-font mb-2" style="color: rgb(255, 255, 255);">
              <strong>Flat No. 5</strong></h2>
            <p class="leading-relaxed text-base" style="color: rgb(255, 255, 255);">pH value: 7.8<br>Weight:
              3.9kg<br>Bin Status:Almost Full
            <p style="color: rgb(255, 255, 255);">Recommendation: To be treated with mild acid to neutralize</p>
            </p>
          </div>
        </div>
        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-gray-200 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-2" style="color: rgb(255, 255, 255);">
              <strong>Flat No. 8</strong></h2>
            <p class="leading-relaxed text-base" style="color: rgb(255, 255, 255);">pH value: 12.8<br>Weight: 4kg<br>Bin
              Status:Almost Full
            <p style="color: rgb(255, 255, 255);">Recommendation: To be treated with a strong acid to neutralize</p>
            </p>
          </div>
        </div>
        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-gray-200 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-2" style="color: rgb(255, 255, 255);">
              <strong>Flat No. 1</strong></h2>
            <p class="leading-relaxed text-base" style="color: rgb(255, 255, 255);">pH value: 2.8<br>Weight:
              4.9kg<br>Bin Status:Full
            <p style="color: rgb(255, 255, 255);">Recommendation: To be treated with strong base to neutralize</p>
            </p>
          </div>
        </div>
        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-gray-200 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-2" style="color: rgb(255, 255, 255);">
              <strong>Flat No. 7</strong></h2>
            <p class="leading-relaxed text-base" style="color: rgb(255, 255, 255);">pH value: 6.8<br>Weight: 4kg<br>Bin
              Status:Almost Full
            <p style="color: rgb(255, 255, 255);">Recommendation: To be treated with mild base to neutralize</p>
            </p>
          </div>
        </div>
        <div class="xl:w-1/3 md:w-1/2 p-4">
          <div class="border border-gray-200 p-6 rounded-lg">

            <h1 class="text-lg text-gray-900 font-medium title-font mb-2" style="color: rgb(255, 255, 255);">
              <strong>Flat No. 9</strong></h1>
            <p class="leading-relaxed text-base" style="color: rgb(255, 255, 255);">pH value: 11.8<br>Weight:
              4.8kg<br>Bin Status:Full
            <p style="color: rgb(255, 255, 255);">Recommendation: To be treated with a strong acid to neutralize</p>
            </p>
          </div>
        </div>
        <div class="xl:w-1/3 md:w-1/2 p-4">

        </div>
      </div>
    </div>
  </section>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>


  <script src="{{ url_for('static', filename='purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script>//line
    var ctxL = document.getElementById("lineChart").getContext('2d');
    var myLineChart = new Chart(ctxL, {
      type: 'line',
      data: {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
          label: "My First dataset",
          data: [65, 59, 80, 81, 56, 55, 40],
          backgroundColor: [
            'rgba(105, 0, 132, .2)',
          ],
          borderColor: [
            'rgba(200, 99, 132, .7)',
          ],
          borderWidth: 2
        },
        {
          label: "My Second dataset",
          data: [28, 48, 40, 19, 86, 27, 90],
          backgroundColor: [
            'rgba(0, 137, 132, .2)',
          ],
          borderColor: [
            'rgba(0, 10, 130, .7)',
          ],
          borderWidth: 2
        }
        ]
      },
      options: {
        responsive: true
      }
    });</script>


  <script src="assets/js/main.js"></script>

</body>

</html>